@import '../../lib/constants';

.game {
  @include game-color-text;

  min-height: 100vh;
  display: grid;
  grid-template-rows: 8% 8% 76% 8%;
  background-image: url('../../assets/Background-1920-1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  &__header {
    @include game-background-elements;

    display: grid;
    place-items: center center;
    place-content: center center;
    grid-template-columns: min-content 1fr min-content;
    padding: 0 10px;
    overflow: hidden;
  }

  &__color {
    @include game-color-text;
  }

  &__btn-background {
    @include game-background-elements;
  }
}
