@import '../../lib/constants';

.invites {
  @include game-background-elements;

  padding: 20px;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    text-align: left;
  }

  &__user-msg {
    color: $game-text-color2;
  }

  &__referal-link-block {
    font-size: 20px;
    cursor: pointer;
  }

  &__referal-link {
    text-decoration: underline;
    cursor: pointer;
  }
}
