@use 'sass:math';
@import '../../lib/constants';

.home {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    // @include game-background-elements;

    $size: 35vw;

    width: $size;
    height: calc($size * 0.7);
    background-image: url('../../assets/diamond-500-348.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    // border-radius: 25%;
    // box-shadow:
    //   0 0 10px #000,
    //   0 0 20px #000;

    transition: scale ease 0.05s;
  }

  :active .home__img {
    transform: scale(1.1) rotate(#{math.random(20) + 5}deg);
  }
}
